@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

body {
    font-family: "Patrick Hand", cursive;

    background: url("imagenes/colorclarito.jpg");
}

h1 {
    color: rgb(219, 101, 156);
    text-align: center;


}

.precio {
    color: darkgreen
}

@media (width>=800px) {
    .Restaurantes {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media (width<800px) {
    .Restaurantes {
        display: grid;
        grid-template-columns: auto;
    }
}


.Restaurantes img {
    width: 80%;
}

h4 {
    color: rgb(173, 112, 96);
}

ol img {
    width: 400px;
    height: 250px;
}

.principal {
    background-image: url("imagenes/fondosinletra.png");

    background-size: cover;
}

.principal a {
    size: 20px;
    padding: 20px;
    margin-left: 50%;
    margin-top: 200px;
    font-family: "Rancho", cursive;
    text-decoration: none;
    background-color: rgba(179, 92, 30, 0.418);

}

.wrapper {
    max-width: 1200px;
    position: relative;

}

.wrapper i {
    top: 50%;
    background: #fff;
    height: 46px;
    width: 46px;
    position: absolute;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    line-height: 46px;
    border-radius: 50%;
    transform: translateY('-50%');
}

.wrapper i:first-child {
    left: -23px;
}

.wrapper i:last-child {
    right: -23px;
    display: none;

}

body.listacarrusel {
    /*display: flex;*/
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper .carrusel {
    font-size: 0px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carrusel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carrusel.dragging img {
    pointer-events: none;
}

.carrusel img {
    height: 100px;
    width: 100px;
    width: calc(100% / 3);
    margin-left: 14px;
    width: calc(100%/3)
}

.carrusel img :first-child {
    margin-left: 0px;

}

@media screen and (max-width:900px) {
    .carrusel img {
        width: calc(50% / 2);
    }
}

@media screen and (max-width:550px) {
    .carrusel img {
        width: 50%;
    }
}